.body{
    height: 745px;
    
    background: url("https://primersol.files.wordpress.com/2015/04/clouds-06.jpg");
}
.wetherbg{
    
    height: 50vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.heading{
    color: rgb(105, 9, 91);
    font-family: cursive;
    font-weight: 700;
}
.weatherBox{
    background: url("https://images.unsplash.com/photo-1504253163759-c23fccaebb55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    margin: auto;
    width: 500px;
    height: 300px;
    border-color: aqua;
    border-radius: 3px;
}
.weathericon{
    width: 100px;
    height: 100px;
}

.weathercity{
    padding-top: 2rem;
    font-size: 40px;
}
.weathertemp{
    font-size: 60px;
    font-weight: 700px;
}
.base-fotter{
    color: rgb(4, 81, 36);
    font-family: cursive;
    padding-top: 325px;
    position: sticky;
}
 